body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: left;
    gap: 20px;
    padding: 10px;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 400px;
    
    
}

.breadcrumb {
    font-size: 16px;
    color: #565959;
    margin-bottom: 10px;
}

a {    
    color: #007185;
    font-size: 18px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
}

.description-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}


